*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(194, 101, 252);
    align-items: center;
    padding: 16px 150px;
}
#navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1rem;
 
}

#navbar li{
    color: white;
}


#main{
    margin-left: 4rem;
    color: black;
    border: 1px solid black;
    margin-left: 8rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
    
    width: 45%;
  
  

}
#main h1{
    margin: 2rem;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#second-section{
    display: flex;
    justify-content: space-between;
    margin-left: 8rem;
    align-items: center;
}



#img-contain{
    width: 50%;
}

#img-contain img{
    width: 100%;
}

#text-contain{
    width: 60%;
    margin-left: 3rem;
    
    
}

#text-contain h2{
    font-size: 4rem;
    width: 60%;
    margin-bottom: 2rem;
    
}

#text-contain p{
    font-size: 1.5rem;
    color: gray;
    width: 70%;
    
}

#section-2{
    margin: 7rem 0;
}


#section-2-text{
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;

}

#section-2-text h2{
    font-size: 2rem;
    align-items: center;

}
#section-2-text button{
    border: solid black 2px;
    padding: 0.5rem 3rem;
    background-color: transparent;

}

#first-row-img{
    display: flex;
    padding: 0 8rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

#second-row-img{
    display: flex;
    padding: 0 8rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}



