*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(194, 101, 252);
    align-items: center;
    padding: 16px 150px;
}
#navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1rem;
 
}

#navbar li{
    color: white;
}


#main{
    margin-left: 4rem;
    color: black;
    border: 1px solid black;
    margin-left: 4rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
    
    width: 45%;
  
  

}
#main h1{
    margin: 2rem;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#second-section{
    display: flex;
    justify-content: space-between;
}


